* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(149, 109, 136);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 30px;
    border-bottom: solid 1px white;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.compose-section {
    /* background-color: rgb(208, 166, 208); */
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    border-bottom: solid 1px white;
}

.post-header {
    padding-bottom: 10px;
    padding-top: 10px;
}

.posts-list {
    margin-top: 30px;
    padding-top: 30px;
}


.field {
    padding: 4px;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: 300;
}

button {
    padding: 5px 11px;
    background-color: rgb(93, 38, 75);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

ul {
    list-style:none;
}
